.row {
    display: flex;
    flex-wrap: wrap;
}

.hashtagWrapper {
    display: flex;
    margin-top: 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
}

.item {
    margin: 4px;
}

.hashtag {
    padding: 6px;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.hashtag:not(:last-child) {
    margin-right: 4px;
}