.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}

.item7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
}

.item10 {
    grid-column-start: 3;
    grid-column-end: 5;
}